#logo{
    width: 30px;
    height: 30px;
    padding-right: 5px;
}

#navbar{
    padding: 1em 1em;
    font-weight: 600;
    font-size: larger;
    -webkit-box-shadow: 0px 2px 51px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 51px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-bottom: 1.5px solid lightgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(52,60,207);
    background-color: rgb(249,249,249);
}