#searchImg{
    width: 35em;
    height: auto;
    padding-right: 5px;
    max-height: 100%;
    max-width: 100%
}

.mainGrid{
    padding: 2.2em 0; 
    background-color: rgb(249,249,249);
    overflow: hidden;
    width:100%;
    height:100%
}